body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-image: url(../IMAGES/ngr2.jpg);
    /* background-repeat: no-repeat; */

}

.carousel-item img{
    width:100%;
    height:95vh;
}
.container-fluid{
    margin-bottom: 0px;
}
  


